<!DOCTYPE html>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- 학생용 비디오 리스트-->
<html>

<head>

</div>
<% for(var i = 0 ; i < data.length ; i++){%>
    <table>
    <tr>
        <!--template-->
        <td><%=data[i].idx%> </td>
        <td><%=data[i].code%> </td>
        <td><%=data[i].date%> </td>
        <td>
            <form ></form>
        </td>
    <td>
        
    </td>
    </tr>
</table>
        <% }%>
    <div>
        

    </div>

</html>
